# Package Files #
*.jar
*.war
*.ear

*.class

# IntelliJ #
.idea/
*.iml
*.iws

# OS X #
.DS_Store

# Android #
*.apk
*.ap_
gen/
*.dex

# Eclipse specific #
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse
